/* .add-payment-panel {
  margin: 150px auto;
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.payment-form {
  display: flex;
  flex-direction: column;
  padding: 1em;
  font-size: 1.8em;
} */

.add-payment-panel{
  width: 50vw;
  margin: 10vh auto;

}

.payment-form{
  display: flex;
  flex-direction: column;
  padding: 1em;

}

.add-button {
  margin-left: auto;
}
/* 
mat-panel-title {
  font-size: 2.5em;
} */
