<!--Header Section Starts-->
<header class="header-container">
    <!--Branding Logo-->
    <div class="branding">
        <img src="assets/images/logo.png" alt="branding_img">
    </div>
    <!--Navigation Bar-->
    <nav class="nav-links">
        <ul>
            <li><a routerLink="/dashboard">Dashboard</a></li>
            <li><a routerLink="/payment">Payment</a></li>
            <li><a routerLink="/login">Login</a></li>
            <li><a routerLink="/register">Register</a></li>
        </ul>
    </nav>
</header>
