.add-payment-panel{
  width: 50vw;
  margin: 10vh auto;
  margin-bottom: 76vh;

}

.payment-form{
  display: flex;
  flex-direction: column;
  padding: 1em;

}

.add-button {
  margin-left: auto;
}

.error-message {
  color: red;
}