.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color:  rgb(103, 191, 241);
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}


.header-item-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.register-btn {
  font-size: large;
  margin-left: 4em;
  background-color: #0d253f;
}

.login-btn {
  font-size: large;
  margin-left: 7em;
  background-color: #0d253f;
}

.span {
  padding-left: 15vh;
}

.toolbar {
  height: 20vh;
}

.img {
  height: 20em;
}

#signout{
  margin-left: 2em;
}