<!-- <app-graph1></app-graph1> -->
<div class="card-flex">

    <mat-card class="example-card">
        <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Aman Barnwal</mat-card-title>
        <mat-card-subtitle>International Travel Card</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/images/dashboard-card.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
        <p class="card-info1">
            Account Current Balance: 1000 <br>
            Card Limit per day: 10 lakhs <br>
        </p>
        </mat-card-content>
        <mat-card-actions>
        <button mat-button>Know more</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title class="title">Your Account Info <br></mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
        <p class="card-info2">
            Your Customer Id : 12343241 <br> <br>
            Card no : 1234 5123 1232 <br> <br>

            Account Current Balance: 1.6 lakhs  <br> <br>
            Card Limit per day: 10 lakhs <br> <br>
        </p>
        </mat-card-content>
    </mat-card>

</div>


<div class="flex-container">

    <div id="divChart">
        <canvas id="myChart1"></canvas>
        <canvas id="myChart2"></canvas>
        <canvas id="myChart3"></canvas>

    </div>

</div>
