/* .footer {
    margin: 40em 0 0;
    background-color: #4b0082;
    color: white;
    text-align: center;
    height: 22vh;
  }
  
  .footer h2 {
    margin: 0;
    padding: 1em 2em;
    font-size: 2em;
  }
  
  i {
    margin-right: 30px;
    margin-top: 10px;
  }
  
  @media only screen and (max-width: 320px) {
    footer {
      height: 25vh;
    }
    footer h2 {
      font-size: 1em;
    }
  } */

.footer-section-container {
    margin-top: 91.8vh;
    background-color:rgb(111, 12, 182);
    height: 45vh;
    width: 100%;
}

.footer-section-content {
    display: flex;
    flex-direction: row;
    height: 37vh;
}

.logo-links-section {
    margin-left: 8vw;
    font-weight: bold;
    margin-bottom: 5vh;
    margin-top: 3em;

}

.pdts {
    color: white; 
}


.logo-links-section img {
    margin-top: 0vh;
    margin-left: 2.5vw;
}

.logo-links-section h1 {
    text-decoration: none;
    margin-left: 0.5vw;
}

.logo-links-section ui{
    list-style-type: none;
}

.products {
    font-size: 1.2em;
}

.logo-links-section ui li {
    margin-left: 1.5vw;
}

.recent-news-section {
    width: 25vw;
    margin-left: 14vw;
    font-weight: bold;
}

.recent-news-section h1 {
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 8vh;
}

.signup-section {
    margin-left: 10vh;
    margin-top: 5.5vh;
}

.signup-section p {
    margin-top: 5vh;
}

.button {
    background-color: blue;
    text-align: center;
    margin-top: -0.2em;
    margin-left: 1vw;
    padding: 1em;
    height: 3vh;
    border-radius: 5px;
}

.button h1 {
    margin-top: -0.5em;
}

.aman {
    display: flex;
    flex-direction: row;
}

.social-media-links {
    display: flexbox;
    margin-left: 0.3em;
    box-shadow: blue;
    font-weight: bold;
    font-size: 2em;
}

.copyright {
    margin-left: 5vw;
}

#twitter {
    margin-right: 0.2em;
}

#fb {
    margin-right: 0.2em;
}

#instagram {
    margin-right: 0.2em;
}

.subscribe {
    color: white;
}

.help {
    font-size: 1.2em;
}