.search-section {
  text-align: center;
  align-items: center;
  margin-top: 25vh;
  margin-bottom: 48vh;
}

.card {
  width: 370px;
  height: 370px;
  align-items: center;
  border: 1px solid black;
  background-color: lightblue;
  margin: 6vh 8vw;
  border-radius: 10px;
  margin-left: 62vh;
}

.first-att {
  margin-top: 2em;
}

.card p {
  font-size: 20px;
  
  font-weight: bold;
}

.head-content {
  text-align: center;
}

select {
  height: 40px;
  margin-left: 10px;
  border: 3px solid #00b4cc;
  border-radius: 10px;
}

button {
  height: 40px;
  border: 3px solid #00b4cc;
  margin-left: 10px;
  border-radius: 10px;
}

input {
  width: 40%;
  display: inline-block;
  margin-top: 10px;
  border: 3px solid #00b4cc;
  border-radius: 10px;
}

p {
  font-size: 1.5em;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 30px;
  color: #00b4cc;
}

.error-message {
  margin-top: 20px;
  color: red;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 300px;
    height: 500px;
    margin: 2em;
  }

  p {
    font-size: 1em;
  }

  h2 {
    font-size: 1.5em;
  }

  .card {
    width: 300px;
    height: 370px;
    align-items: center;
    border: 1px solid black;
    background-color:rgb(50, 38, 155);
    margin: 6vh 8vw;
    border-radius: 10px;
    margin-left: 8vh;
  }

}
