.login-container {
  margin: 150px auto;
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.login-form {
  display: flex;
  flex-direction: column;
  font-size: 1.8em;
}

.error-message {
  color: red;
}

mat-panel-title {
  font-size: 2.5em;
}

.wrapper {
  text-align: right;
}

.button {
  position: absolute;
}

 button{
  width: 10vw;
  height: 4vh;
  font-size: 1.5em;
 }
