<div class="login">
    <label class="error-message">{{ submitMessage }}</label>

    <form [formGroup]='loginForm' (ngSubmit)='loginSubmit()'>
        <mat-form-field>
            <input class="username" id="username" matInput placeholder="Customer Id" type="text" required
                formControlName='username'>

        </mat-form-field>
        <mat-form-field>
            <input class="password" id="password" matInput required placeholder="Password" type="password"
                formControlName='password'>
        </mat-form-field>
        <button id="login" type="submit" [disabled]='loginForm.invalid' mat-raised-button color="primary">Login</button>
    </form>
</div>