.login-container {
  margin: 150px auto;
  width: 40vw;
  display: flex;
  flex-direction: column;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.error-message {
  color: red;
}

.wrapper {
  text-align: right;
}

.login-page {
  margin-bottom: 66vh;
}

