.main {
  padding: 0%;
  margin: 0%;
  height: 100%;
  margin-bottom: 91.8vh;
  /* background-image: url("../../../assets/images/natwest.jpg"); */
}
/* 
.hero-unit {
    position: absolute;
    opacity: 0.8;
    height: 92%;
    width: 100%;
    display: auto;
  } */

  /* Add a black background color to the top navigation */
.topnav {
  background-color:rgb(240, 234, 234);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 17px;

}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(197, 183, 183);
  color: black;
  border: black;
}

.img-logo {
  margin-left: -53em;
  margin-top: 1.21em;
  height: 1.5em;;
}

.topnav-links {
  margin-left: 20em;
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: black;
  margin-top: 20px;
  margin-right: 16px;
  font-size: 17px;
  border-radius: 1em;
  border-color: black;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}



.card-component {
  background-image: url('../../../assets/images/sea.jfif');
  position: absolute;
  height: 100%;
  width: 100%;
  margin-bottom: 0%;
}

.card-info1 {
  font-weight: 400;
  font-style: inherit;
  margin-left: auto;
  margin-left: 1em;
}

.title {
  font-weight: normal;
}

.example-card {
  max-width: 280px;
  max-height: 470px;
  margin-left:10%;
  margin-bottom: 1em;
  margin-top: 2em;
  opacity: 1;

}

.example-card:hover{
  transform: translate3D(0,-1px,0) scale(1.1); /* move up slightly and zoom in */
  box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
  transition: all .4s ease; /* zoom in */
  cursor: pointer;
}

.example-header-image {
  background-image: url('../../../assets/images/logo.png');
  background-size: cover;
}

.card-flex {
    display: flex;
}

.title-card {
  margin-top: 3em;
  text-align: center;
}

.annual-fee {
  font-weight: 500;
  text-align: center;
}

#card-limit {
  margin-left: 1em;
}


.img {
  height: 625px;
  width: 1366px;
}

#desc {
  color: black;
  font-weight: bold;
}

#opaq-img {
  opacity: 0.9;
}