.main {
    background-color: rgb(240, 234, 234);
    height: 280%; 
    width: 100%;
    margin: 0%;
    padding: 0%;
}

.card-info1 {
    font-weight: bold;
}

#divChart {
    width: 700px;
    height: 600px;
    display: flex;
    flex-direction: column;
    margin-left: 20em;
    margin-top: 4em;
    background-color: rgb(240, 234, 234);
}

.chart {
    margin-bottom: 6em;
}

#myChart3 {
    margin-bottom: 6em;
    padding-bottom:3em;
}

.title {
    font-weight: bold;
    padding-bottom: 1.2em;
}

  
  .example-header-image {
    background-image: url('../../../assets/images/logo.png');
    background-size: cover;

  }

  .card-flex {
      display: flex;
  }

.example-card {
    width: 300px;
    margin-left:20%;
    margin-bottom: 3em;
    margin-top: 5em;
  }

  .example-card:hover{
    transform: translate3D(0,-1px,0) scale(1.1); /* move up slightly and zoom in */
    box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
    transition: all .4s ease; /* zoom in */
    cursor: pointer;
  }
 
  #card2 {
      padding-left: 2em;
      background-image: url('../../../assets/images/account-info-dashboard1.jpg');
      background-size: cover;
      position: relative;
  }

  
.card-info2 {
    display: normal;
    font-weight: 900;
    font-size: medium;
}

  .head-title {
      text-align: center;
      padding-top: 3em;
  }

  #head-title2 {
      text-align: center;
      padding: 0.6em;
      margin-left: 10em;
      margin-top: 3em;
      margin-right: 10em;
      background-color: white;
      background-image: url('../../../assets/images/account-info-dashboard.jpg');
  }

  #title2 {
      font-weight: 600;
      text-align: center;
      text-decoration: underline;
      font-size: 1.4em;
  }