<!-- <app-graph1></app-graph1> -->
<div class="main">
  <div>
    <h2 class="head-title">Welcome to Natwest Group, {{ username }}</h2>
  </div>

  <div class="card-flex">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ username }}</mat-card-title>
        <mat-card-subtitle>International Travel Card</mat-card-subtitle>
      </mat-card-header>
      <img class="image-credit"
        mat-card-image
        src="../../../assets/images/dashboard-card.jpg"
        alt=""
      />
      <mat-card-content>
        <p class="card-info1">
          <!-- Account Current Balance: {{currentBalance}} <br /> -->
          Card Limit per day: 10 lakhs <br />
        </p>
      </mat-card-content>
      <!-- <mat-card-actions>
        <button mat-button class="know-more">Know more</button>
      </mat-card-actions> -->
    </mat-card>

    <mat-card class="example-card" id="card2">
      <mat-card-header>
        <mat-card-title class="title" id="title2"
          >Your Account Info <br
        /></mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p class="card-info2">
          Your Customer Id : {{customerId}} <br />
          <br />
          Card no : {{cardNo}} <br />
          <br />
          Account Current Balance: {{currentBalance}} <br />
          <br />
          <!-- Card Limit per day: 10 lakhs <br /> -->
          <br />
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div id="explore">
    <h2 id="head-title2">Explore your customized dashboard</h2>
  </div>

  <div class="flex-container">
    <div id="divChart">
      <canvas id="myChart1" class="chart"></canvas>
      <canvas id="myChart2" class="chart"></canvas>
      <h1 class="pie-head">No. of transactions done City-wise</h1>
      <canvas id="myChart3"></canvas>
    </div>
  </div>
</div>
